/*ESTIDO PARA EL MENU SUPERIOR*/

body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: cornflowerblue;
    border-top: 30px;
}

section {

    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid;
    height: 70%;
    padding :90px;
    background-color: rgb(240, 228, 175);
}

#formenvio{
  display: block;
}

#btn-menu{
    display: none;
}

#inicio{
    display: none;
}


#cargaenvio{
    display: none;
}

#nosotros{
    display: none;
}






/*====================================================================FIN===========================================================================================*/

/*CUERPO1*/

.remitente {
    margin: auto;
    width: 600;
    max-width: 700px;
    height: 550px ;
    background: #F3F3F3;
    padding: 7px;
    margin-top: 33px;
    border: 1px solid rgba(0,0,0,0.2);
    display: flex;
  }

.F-remitente {
    margin: 10px;
    align-items: center;
    width: 670px;
    max-width: 670pxpx;
    height: 400px ;
    background: #F3F3F3:
    border: 1px solid rgba(0,0,0,0.2);
    
    
  }

.largedata{
    margin: auto;
    font-size: 12px;
    margin-top: 10px;
    width: 130px;
    max-width: 130px;
    align-content: center;
}

.shortdata{
    margin: auto;
    align-content: center;
    font-size: 12px;
    margin-top: 10px;
    width: 50px;
}



/*=================================================================================================FIN===================================================================================================*/

/*CODIGO QR*/

#item_txt{
    width: 20%;
  }
  #generarCodigo{
    width: 10%;
    background-color: #5AA1E3;
    color: #fff;
  }
  #descargarCodigo{
    width: 10%;
    background-color: #3CB371;
    color: #fff;
    display: none;
    text-align: center;
    border: #eee solid 2px;
    text-decoration: none;
  }
  #codigoQR{
    width: 256px;
    height: 256px;
    margin-top: 25px;
    border: 2px solid #eee;
  }




  /*======================================================================================================================================*/

  